* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: #111;
    color: #fff;
}

header p{
    font-size: 15px;
    margin-top: -10px;
    color: #fff;
}

header h1{
    color: #f6f5f4;
}

header p:hover,
header h1:hover {
    cursor: pointer;
    color: #fb6907;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #000;
}

header .logo {
    font-size: 28px;
    font-weight: bold;
}

nav a:hover{color: #ff6600;}

nav a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    height: 90vh;
    background: url("fff1\ \(1\).webp") center no-repeat;
    display: flex;
    align-items: center;
    background-size: contain;
    justify-content: flex-start;
    padding-left: 60px;
}

.hero-text h1 {
    font-size: 60px;
    -webkit-text-stroke: 2px #090909;    
}

.hero-text p {
    margin: 15px 0;
    font-size: 20px;
    color: #fff;
}

.btn {
    padding: 12px 25px;
    background: #ff6600;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    transition: transform 0.2s ease;
}

.btn:hover { transform: translateY(-5px); }

.features {
    padding: 80px 50px;
    text-align: center;
}

.features h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    background: transparent;
    text-align: center;
    transition: transform 0.3s ease;
    padding-bottom: 20px;
}

.card:hover {
    transform: translateY(-10px);
}

.features .card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
}

.features .card h3 {
    margin-top: 15px;
    color: #fff;
    font-size: 22px;
}

.features .card p {
    margin-top: 5px;
    color: #ccc;
    font-size: 15px;
    padding: 0 10px;
}

.menu-section {
    background: #000;
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.menu-container {
    width: 95%;
    max-width: 1700px;
    margin: auto;
    background: #0a0a0a;
    padding: 40px 50px;
    border-radius: 12px;
    border: 1px solid #2a2a2a;
    box-shadow: 0 0 40px rgba(255, 165, 0, 0.08);
    position: relative;
}

.menu-container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 6px;
    height: calc(100% - 40px);
    background: linear-gradient(#ff6600, #ff6600);
    border-radius: 6px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin-top: 20px;
}

.menu-column h3 {
    margin-top: 0;
}

.menu-section h2 {
    color: #ff6600;
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.menu-section h3 {
    color: #ff6600;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-left: 4px solid #ff6600;
    padding-left: 10px;
}

.item-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-bottom: 1px solid #222;
    transition: 0.3s;
}

.item-row span {
    color: white;
    font-size: 18px;
}

.item-row:hover {
    background: #111;
    transform: scale(1.01);
    border-bottom: 1px solid #ff6600;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.2);
}


.contact {
    padding: 60px 50px;
    text-align: center;
}

.contact h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

footer {
    background: #000;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
